/* Head */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    display: grid;
    flex-flow: column wrap;
    height: 100%;
    width: 100vw;
    justify-content: center;
}


/* Center */
.center-box {
    min-width: 500px;
    height: 100%;
}

/* Header */
.header-container {
    min-width: 500px;
    height: 52px;
    position: sticky;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

/* Image */
.image-container {
    display: flex;
    flex-flow: row wrap;
}

.image-box {
    height: 125px;
    width: 200px;
    display: grid;
    align-content: space-around;
    position: relative;
}

.download-button {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 125px;
    width: 200px;
}

.image-box:hover .download-button {
    display: flex !important;
    align-items: center;
    justify-content: center;
}